body {
	width: 100%;
	font-family: 'Libre Franklin', sans-serif;
	
}
.jumbotron {
	text-align: center;
	/* add bootstrap jumbotron image */
	background: url("../images/Horses_Running_Free_1434767.jpg");
	/*background-size: cover;*/
	background-repeat: repeat;
	background-position: center;
	/* more adjustments to bootstrap */
	color: yellow;
	background-color: #FFCC66;
	margin-bottom: 5px;
}