/* for all pages */
html {
  position: relative;
  min-height: 100%
}
#logo {
	width: 175px;
	height: 70px;
	background-color: #00e600;
	float: left;
	color: black;
	font-weight: bold;
	text-align: center;
	padding-top: 20px;
}

nav {
	background-color: #ffcc00;
	text-align: right;
	font-size: 14px;
	color: black;
	width: 100%;
	height: 50px;
	padding-top: 15px;

}
body {
	width: 100%;
	font-family: 'Libre Franklin', sans-serif;
	font-size: 18px;	
}

h1 {
	color: #ffcc00;
}
.jumbotron {
	position: relative;
	font-family: 'Poller One', cursive, serif;
	text-align: center;
	color: #00e600;
	background-color: #FFCC66;
	/* add bootstrap jumbotron image */
	background: url("../images/Horses_Running_Free_1434767.jpg");
	/*background-size: cover;*/
	background-repeat: repeat;
	background-position: center;
	/* more adjustments to bootstrap */
	margin-bottom: 5px;
	margin-top: 15px;
	border: 5px solid black;
}
h2 {
	margin-top: 10px;
	font-weight: bold;
}
h3 {
	font-weight: bold;
}
.table {
	font-size: 12px;
}
th {
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	font-size: 90%;

}

/* footer style */
footer {
	width: 100%;
	background: #ffcc00;
	color: black;
	padding: 25px;
	border-top: 8px solid #00e600;
	font-size: 14px;
	text-align: center;
}

/* contact form styling */
#contact-form {
	float: left;
	/* width: 70%;*/
}
#contact-form ul {
	margin-bottom: 20px;
}
#contact-form li {
	margin-bottom: 10px;
}
label,
input[type=text],
input[type=email],
textarea {
	display: block;
	width: 55%;
}
input[type=text],
input[type=email],
textarea {
	height: 35px;
	border: 1px solid #00e600;
	padding: 0 10px;
	font-size: 14px;
}
textarea {
	height: 200px;
}
input[type=submit] {
	background: #00e600;
	border: 0 none;
	color: black;
	font-size: 18px;
	padding: 10px 30px;
	cursor: pointer;
}
input[type=text]:focus, input[type=email]:focus, input[type=message]:focus {
    background-color: lightblue;
} 
.ponyexpress {
	margin-right: 0px;
	float: right;
	/* width: 18%; */
	padding-right: 0px;
}
.clearfix {
	clear: both;
}